<html>
    <%-include('styl')%>
    <body>
        <h1 id="grh">&nbsp;Gruxtre</h1>
        <br>
        <div class="fs" style="padding:5%;">
            <br><br>
       <h1 class="ft">Order placed</h1>
       <h1 class="ft">We will verify your purchase</h1>
       <h1 class="ft">Thanks and have fun with your purchase.</h1>
       <br>
        <button class="fb" onclick="goBack()">Good</button>
    </div></body>
</html>
