<html>
    <%-include('styl')%>
    <body>
        <h1 id="grh">&nbsp;Gruxtre</h1>
        <br>
        <div class="fs" style="padding:5%;">
            <br><br>
       <h1 class="ft">We are really sorry but we have limited our users with one article per product because of the global shortage.</h1> 
       <br>
        <button class="fb" onclick="goBack()">Okay, i understand</button>
    </div></body>
</html>